@import "./_variables";
@import "./_mixins";
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

header {
  background-image: url("./img/coffee_image.png");
  border: 2px solid;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  isolation: isolate;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(6, 5, 5, 0.3);
  z-index: -1;
}

.cont {
  max-width: 1300px;
  //   width: 100%;
  margin: 0 auto;

  padding: 20px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    ul {
      display: flex;
      list-style-type: none;
    }

    .ul1 {
      gap: 60px;
      & > li {
      }
      & > li > a {
        @include styleText(#fff, 14px, 500, normal);
      }

      @media (max-width: 800px) {
        display: none;
      }
    }

    .ul2 {
      gap: 35px;
      display: flex;
      align-items: center;
      .btn1 {
        @include styleText(#fff, 14px, 500, normal);
      }

      .btn2 {
        @include styleText(#1e1e1e, 14px, 500, normal);

        background-color: $btnColor;
        display: inline-block;
        width: 100px;
        height: 48px;
        border-radius: 24px;
        display: grid;
        place-items: center;
      }
    }
  }

  &-mid {
    max-width: 527px;

    margin-top: 116px;

    @media (max-width: 600px) {
      margin-top: 50px;
    }

    & > h2 {
      @include styleText(#fff, 22px, 500, normal);
      @media (max-width: 600px) {
        text-align: center;
      }
    }
    & > h1 {
      @include styleText(#fff, 220px, 400, normal);
      font-family: Clicker Script;
      @media (max-width: 600px) {
        text-align: center;
        @include styleText(#fff, 150px, 400, normal);
      }
    }

    & > p {
      @include styleText(#fff, 20px, 400, normal);
      @media (max-width: 600px) {
        text-align: center;
        margin-top: 20px;
      }
    }

    .btnCont {
      @media (max-width: 600px) {
        display: flex;
        justify-content: center;
        // margin-top: 50px;
      }
    }

    & > div > button {
      width: 134px;
      height: 48px;
      border-radius: 24px;
      background: #f9c06a;
      border: none;
      box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
      margin-top: 20px;
      @include styleText(#1e1e1e, 16px, 700, normal);
    }
  }
}
