@import "./_variables";
@import "./_mixins";
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

header {
  background-image: url("./img/coffee_image.png");
  border: 2px solid;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cont {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  border: 3px solid red;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    ul {
      display: flex;
      list-style-type: none;
    }

    .ul1 {
      gap: 60px;
      & > li {
      }
      & > li > a {
        @include styleText(#fff, 14px, 500, normal);
      }

      @media (max-width: 800px) {
        display: none;
      }
    }

    .ul2 {
      gap: 35px;
      display: flex;
      align-items: center;
      .btn1 {
        @include styleText(#fff, 14px, 500, normal);
      }

      .btn2 {
        @include styleText(#1e1e1e, 14px, 500, normal);
        background-color: $btnColor;
        display: inline-block;
        width: 100px;
        height: 48px;
        border-radius: 24px;
        display: grid;
        place-items: center;
      }
    }
  }
}
