* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

header {
  background-image: url("./img/coffee_image.png");
  border: 2px solid;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  isolation: isolate;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(6, 5, 5, 0.3);
  z-index: -1;
}

.cont {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.cont nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.cont nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.cont nav .ul1 {
  gap: 60px;
}

.cont nav .ul1 > li > a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 800px) {
  .cont nav .ul1 {
    display: none;
  }
}

.cont nav .ul2 {
  gap: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont nav .ul2 .btn1 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.cont nav .ul2 .btn2 {
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  background-color: #f9c06a;
  display: inline-block;
  width: 100px;
  height: 48px;
  border-radius: 24px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.cont-mid {
  max-width: 527px;
  margin-top: 116px;
}

@media (max-width: 600px) {
  .cont-mid {
    margin-top: 50px;
  }
}

.cont-mid > h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 600px) {
  .cont-mid > h2 {
    text-align: center;
  }
}

.cont-mid > h1 {
  color: #fff;
  font-size: 220px;
  font-weight: 400;
  line-height: normal;
  font-family: Clicker Script;
}

@media (max-width: 600px) {
  .cont-mid > h1 {
    text-align: center;
    color: #fff;
    font-size: 150px;
    font-weight: 400;
    line-height: normal;
  }
}

.cont-mid > p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 600px) {
  .cont-mid > p {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .cont-mid .btnCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cont-mid > div > button {
  width: 134px;
  height: 48px;
  border-radius: 24px;
  background: #f9c06a;
  border: none;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
          box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  margin-top: 20px;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
/*# sourceMappingURL=style.css.map */